<!DOCTYPE html>
<html lang="en">
  <style>
    .single {
      color: inherit;
      text-decoration: none;
    }
  </style>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h3>Read the latest posts and catch up with my work.</h3>
    </main>
    <div class="AllBlogs">
      <h2>My Blogs</h2>
      <% if(blog.length > 0) { %> <% blog.forEach(blog => { %>
      <a class="single" href="/<%=blog._id %>">
        <%# the reason its '_id' instead of 'id' is because its defined like
        that in mongoose %>
        <h3 class="title"><%= blog.title %></h3>
        <p snippet="snippet"><%= blog.snippet %></p>
      </a>
      <% }) %> <% } else { %>
      <p>Nothing to Display</p>
      <% } %>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
